In [3]:
!pip3 install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/ac/6b/11c0e4f5dec878a5eca77aa3b24215c49d2eda8d2cfd654a3f03a9f9d33a/pandas-2.2.0-cp311-cp311-macosx_10_9_x86_64.whl.metadata
  Downloading pandas-2.2.0-cp311-cp311-macosx_10_9_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/prisoe/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl.metadata
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/prisoe/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-macosx_10_9_x86_64.whl (12.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 2.7 MB/s eta 0:00:0000:0100:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 3.0 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 3.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.0 pytz-2023.3.post1 tzdata-2023.4

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip

In [4]:
import pandas as pd

/var/folders/pn/8gcx0rw94c1cp5dfznjxk6xr0000gn/T/ipykernel_14027/217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
df = pd.read_csv("dev.csv")
df.head()

,Question,Numbers,Equation,Answer,group_nums,Grade,Type,Body,Ques_Statement
0,number0 red apples and number1 green apples ar...,7 2,+ number0 number1,9.0,"[0, 1, 2, 3, 4, 5, 6, 10, 16, 17, 18]",1,Addition,number0 red apples and number1 green apples ar...,how many apples are in the basket ?
1,ellen has number0 more balls than marin . mari...,6 9,+ number0 number1,15.0,"[1, 2, 3, 4, 5, 9, 10, 11, 16, 17, 18]",1,Addition,ellen has number0 more balls than marin . mari...,how many balls does ellen have ?
2,janet has number0 oranges and sharon has numbe...,9 7,+ number0 number1,16.0,"[1, 2, 3, 6, 7, 8, 16, 17, 18]",1,Addition,janet has number0 oranges and sharon has numbe...,how many oranges do janet and sharon have toge...
3,allan brought number0 balloons and jake brough...,2 4,+ number0 number1,6.0,"[1, 2, 3, 6, 7, 8, 21, 22, 23]",1,Addition,allan brought number0 balloons and jake brough...,how many balloons did allan and jake have in t...
4,adam has number0 more apples than jackie . jac...,5 9,+ number0 number1,14.0,"[1, 2, 3, 4, 5, 9, 10, 11, 16, 17, 18]",1,Addition,adam has number0 more apples than jackie . jac...,how many apples does adam have ?

In [27]:
print(df["Equation"][1])

ellen has number0 more balls than marin . marin has number1 balls .

In [16]:
print(df["Numbers"][1][1:])

 9

In [47]:
df["Question"][21]

'you have collected number0 crickets . how many more crickets do you need to collect to have number1 crickets ?'

In [28]:
line = df["Body"][1]
print(line)
number0 = df["Numbers"][1]
number1 = df["Numbers"][1][2:]
line = line[0: line.index("number0")] + str(number0) + line[line.index("number0")+7:]
line = line[0: line.index("number1")] + str(number1) + line[line.index("number1")+7:]
print(line)

ellen has number0 more balls than marin . marin has number1 balls .
ellen has 6 more balls than marin . marin has 9 balls .

In [49]:
question_prompts = []

for i in range (df.shape[0]):
    line = df["Question"][i]
    number0 = df["Numbers"][i].split()[0]
    number1 = df["Numbers"][i].split()[1]
    line = line[0: line.index("number0")] + str(number0) + line[line.index("number0")+7:]
    line = line[0: line.index("number1")] + str(number1) + line[line.index("number1")+7:]
    question_prompts.append("draw "+line)

df["question_prompts"] = question_prompts
df.head()

,Question,Numbers,Equation,Answer,group_nums,Grade,Type,Body,Ques_Statement,question_prompts
0,number0 red apples and number1 green apples ar...,7 2,+ number0 number1,9.0,"[0, 1, 2, 3, 4, 5, 6, 10, 16, 17, 18]",1,Addition,number0 red apples and number1 green apples ar...,how many apples are in the basket ?,draw 7 red apples and 2 green apples are in th...
1,ellen has number0 more balls than marin . mari...,6 9,+ number0 number1,15.0,"[1, 2, 3, 4, 5, 9, 10, 11, 16, 17, 18]",1,Addition,ellen has number0 more balls than marin . mari...,how many balls does ellen have ?,draw ellen has 6 more balls than marin . marin...
2,janet has number0 oranges and sharon has numbe...,9 7,+ number0 number1,16.0,"[1, 2, 3, 6, 7, 8, 16, 17, 18]",1,Addition,janet has number0 oranges and sharon has numbe...,how many oranges do janet and sharon have toge...,draw janet has 9 oranges and sharon has 7 oran...
3,allan brought number0 balloons and jake brough...,2 4,+ number0 number1,6.0,"[1, 2, 3, 6, 7, 8, 21, 22, 23]",1,Addition,allan brought number0 balloons and jake brough...,how many balloons did allan and jake have in t...,draw allan brought 2 balloons and jake brought...
4,adam has number0 more apples than jackie . jac...,5 9,+ number0 number1,14.0,"[1, 2, 3, 4, 5, 9, 10, 11, 16, 17, 18]",1,Addition,adam has number0 more apples than jackie . jac...,how many apples does adam have ?,draw adam has 5 more apples than jackie . jack...

In [50]:
addition_df = df.loc[df['Type'] == 'Addition']
subtraction = df.loc[df['Type'] == 'Subtraction']
multiplication = df.loc[df['Type'] == 'Multiplication']
division = df.loc[df['Type'] == 'Division']

In [55]:
addition_df.head()

,Question,Numbers,Equation,Answer,group_nums,Grade,Type,Body,Ques_Statement,question_prompts
0,number0 red apples and number1 green apples ar...,7 2,+ number0 number1,9.0,"[0, 1, 2, 3, 4, 5, 6, 10, 16, 17, 18]",1,Addition,number0 red apples and number1 green apples ar...,how many apples are in the basket ?,draw 7 red apples and 2 green apples are in th...
1,ellen has number0 more balls than marin . mari...,6 9,+ number0 number1,15.0,"[1, 2, 3, 4, 5, 9, 10, 11, 16, 17, 18]",1,Addition,ellen has number0 more balls than marin . mari...,how many balls does ellen have ?,draw ellen has 6 more balls than marin . marin...
2,janet has number0 oranges and sharon has numbe...,9 7,+ number0 number1,16.0,"[1, 2, 3, 6, 7, 8, 16, 17, 18]",1,Addition,janet has number0 oranges and sharon has numbe...,how many oranges do janet and sharon have toge...,draw janet has 9 oranges and sharon has 7 oran...
3,allan brought number0 balloons and jake brough...,2 4,+ number0 number1,6.0,"[1, 2, 3, 6, 7, 8, 21, 22, 23]",1,Addition,allan brought number0 balloons and jake brough...,how many balloons did allan and jake have in t...,draw allan brought 2 balloons and jake brought...
4,adam has number0 more apples than jackie . jac...,5 9,+ number0 number1,14.0,"[1, 2, 3, 4, 5, 9, 10, 11, 16, 17, 18]",1,Addition,adam has number0 more apples than jackie . jac...,how many apples does adam have ?,draw adam has 5 more apples than jackie . jack...

SyntaxError: invalid syntax (436965055.py, line 2)